
/* Headings
 * --------------------------------------------------------------------- */
h1,h2,h3,h4,h5,h6 { color: #111; }

h3 { border-bottom: 1px solid #999; padding-bottom: 3px; }

/* Text Elements
 * --------------------------------------------------------------------- */
a                 { color: #7f0c19; }
a:hover           { color: #000; }
blockquote        { color: #666; }

code { 
  font-size: 1.1em;
  color: #000;
  background-color: #eee;
}

hr {
  background: #111;
  color:      #111;
}

/* Tables
 * --------------------------------------------------------------------- */
table {
  border-top:     1px solid #ddd;
  border-left:    1px solid #ddd;
}
th,td {
  border-bottom:  1px solid #ddd;
  border-right:   1px solid #ddd;
}

/* Default Classes
 * --------------------------------------------------------------------- */
p.quiet { color: #666; }
.alt    { color: #666; }

p.title {
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 2em;
  margin-bottom: 0.75em;
}

#header p.title { font-size: 3em; line-height: 1; margin-bottom: 0.5em; }

div#toc ul {list-style-type: none;}

a.current:before { 
  content: "→ ";
  color: #000;
  }
  
a.current {
  color: #000;
  text-decoration: none;
}

#footer { text-align: center; }
/* EOF */
